<web-app>

<servlet>
<servlet-name>abhi6</servlet-name>
<servlet-class>RegisDemo1</servlet-class>
</servlet>

<servlet>
<servlet-name>abhi7</servlet-name>
<servlet-class>LoginDemo1</servlet-class>
</servlet>

<servlet>
<servlet-name>Showall</servlet-name>
<servlet-class>Showall</servlet-class>
</servlet>

<servlet>
<servlet-name>abhi9</servlet-name>
<servlet-class>Insertdemo</servlet-class>
</servlet>

<servlet>
<servlet-name>abhi10</servlet-name>
<servlet-class>Searchdemo</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abhi6</servlet-name>
<url-pattern>/rg</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi7</servlet-name>
<url-pattern>/lg</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Showall</servlet-name>
<url-pattern>/Showall</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi9</servlet-name>
<url-pattern>/ins</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi10</servlet-name>
<url-pattern>/sd</url-pattern>
</servlet-mapping>

</web-app>